/* SIDEBAR */

.sidebar {
    width: 300px;  
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* PROFILE SECTION */

.profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.profile-image {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-name {
    font-size: 16px;
    font-weight: bold;
}

.profile-image img {
    width: 100px;
    height: 100px; 
    border-radius: 50%; 
}

/* FUNCTION BUTTONS */

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
    color: #52B788;
}

.nav-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #f0f0f0;
    color: #246949;
    border: none;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.active{
    background: #52B788;
    color: white;
}

.nav-button:hover{
    background: #52B788;
    color: white;
}

i {
    margin-right: 10px;
}

/* CREATE LISTING BUTTON */

.create-listing-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #52B788;
    color: #ffffff;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* LOG-OUT BUTTON */

.logout-button {
    border: none;
    padding: 12px 20px;
    width: 80%;
    border-radius: 10px;
    color: white;
    background-color: #52B788;
    margin-top: 38vh;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    cursor: pointer;
}

.logout a {
    text-decoration: none; 
}

.logout-button:hover {
    background-color: #00332a;
}