.sidebar {
    width: 300px;  
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.profile-image {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-name {
    font-size: 16px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

.nav-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #f0f0f0;
    border: none;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.create-listing-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #52B788;
    color: #ffffff;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.active{
    background: #52B788;
}

.active1 {
    background: #52B788;
}
